<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= form_for @restaurante do |f| %>
      Nome: <%= f.text_field :nome %>
      Endereço: <%= f.text_field :endereco %>
      Especialidade: <%= f.text_field :especialidade %>
      <%= f.submit %>
    <% end %>
  </body>
</html>
